:root{
    --text-color: #00ddd2;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Bad Script', cursive;
    font-family: 'Cherry Cream Soda', cursive;
    /* background: linear-gradient(to right,#0d0d1a,#1e2333); */
    background-image: url(img/hao-wang-pVq6YhmDPtk-unsplash.jpg);
}

span{
    color: #e92c49;
}
/*---------------HEAD---------------*/
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eae8e521;
    color: var(--text-color);
    /* box-shadow: 0 0 10px #e92c49; */
    
}
.head div{
    margin-top: 10px;
    margin-right: 40px;
    padding: 10px;
    
}
.head .logo{
    margin-left: 20px;
    font-size: 30px;
    letter-spacing: 10px;
    cursor: pointer;
}
.head:hover{
    box-shadow: 0 0 10px #00ddd2;
}

/*---------------SECTION---------------*/
section{
    width: 100%;
    height: 83vh;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.target{
    margin: 40px 20px;
    background: #eae8e5;
    padding: 20px;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 0 20px #00ddd2;   
}

.target1:hover, .target3:hover{
    box-shadow:  0 0 30px #e92c49;
}

.target2:hover{
    box-shadow:  0 0 30px #e92c49;
}

.target4:hover{
    box-shadow:  0 0 30px #e92c49;
}

/*---------------FOOTER---------------*/
footer{
    width: 100%;
    /* height: 100px; */
    box-shadow: 0 0 10px #00ddd2;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
} 

footer a{
    text-decoration: none;
    color: #00ddd2;
}
footer:hover{
    box-shadow: 0 0 10px #e92c49;
}

